.gi-container {
  width: 100%;
  margin: 0 auto;
}

.gi-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 8px;
  margin-bottom: 8px;
  align-items: start;
}

.gi-row img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: var(--radius);
}

.gi-container p {
  display: none;
}