span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited {
  color: #252525;
}

.heimu,
.heimu a,
a .heimu,
.heimu a.new {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
}

body:not(.heimu_toggle_on) .heimu:hover,
body:not(.heimu_toggle_on) .heimu:active,
body:not(.heimu_toggle_on) .heimu.off {
  transition: color 0.13s linear;
  color: #fff;
}

body:not(.heimu_toggle_on) .heimu:hover a,
body:not(.heimu_toggle_on) a:hover .heimu,
body:not(.heimu_toggle_on) .heimu.off a,
body:not(.heimu_toggle_on) a:hover .heimu.off {
  transition: color 0.13s linear;
  color: #add8e6;
}

body:not(.heimu_toggle_on) .heimu.off .new,
body:not(.heimu_toggle_on) .heimu.off .new:hover,
body:not(.heimu_toggle_on) .new:hover .heimu.off {
  transition: color 0.13s linear;
  color: #ba0000;
}

/* Dark mode styles */
:is(.dark *) span.heimu a.external,
:is(.dark *) span.heimu a.external:visited,
:is(.dark *) span.heimu a.extiw,
:is(.dark *) span.heimu a.extiw:visited {
  color: #fff !important;
}

:is(.dark *) .heimu,
:is(.dark *) .heimu a,
:is(.dark *) a .heimu,
:is(.dark *) .heimu a.new {
  background-color: #fff !important;
  color: #fff !important;
  text-shadow: none !important;
}

:is(.dark *) .heimu:hover,
:is(.dark *) .heimu:active,
:is(.dark *) .heimu.off {
  transition: color 0.13s linear;
  color: #000 !important;
}

:is(.dark *) .heimu:hover a,
:is(.dark *) a:hover .heimu,
:is(.dark *) .heimu.off a,
:is(.dark *) a:hover .heimu.off {
  transition: color 0.13s linear;
  color: #add8e6 !important;
}

:is(.dark *) .heimu.off .new,
:is(.dark *) .heimu.off .new:hover,
:is(.dark *) .new:hover .heimu.off {
  transition: color 0.13s linear;
  color: #ba0000 !important;
}