/* 普通图片样式 */
img:not(.gi-row img):not(.avatar) {
    max-height: 70vh; 
    min-height: 200px; 
    
    width: auto;
    max-width: 100%;

    object-fit: contain; 

    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

.lazy {
  opacity: 0;
}

.lazy.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}