#post-content img:not(.gi-row img) {
    max-height: 70vh; 
    min-height: 200px; 
    
    width: auto;
    max-width: 100%;

    object-fit: contain; 

    display: block;
    margin: 20px auto;
    border-radius: var(--radius);
}

#post-content img {
  cursor: zoom-in !important;
  transition: transform 0.2s ease, opacity 0.2s ease, scale 0.2s ease;
}

#post-content img:hover {
  scale: 1.005;
}

#post-content a img {
  cursor: pointer;
}

.yarl__root,
.yarl__container {
  background: color-mix(in srgb, #000000 20%, transparent) !important;
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--radius-lg);
}

.dark .yarl__root,
.dark .yarl__container {
  background: color-mix(in srgb, #000000 40%, transparent) !important;
}